<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- generic metadata -->
	<title>@Model.PageTitle</title>
	<meta name="author" content="@Model.Site.Author">
	<meta name="description" content="@Model.Site.Description">
	<meta name="generator" content="@Model.Site.Generator">

	<!-- seo helpers: generic, twitter, facebook/opengraph -->
	<meta itemprop="name" content="@Model.PageTitle">
	<meta name="twitter:title" content="@Model.PageTitle">
	<meta property="og:title" content="@Model.PageTitle" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="@Model.Site.Title" />
	
	<!-- stylesheets -->
	<!-- bootstrap needs to come first -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- then our style sheet -->
	<link rel="stylesheet" href="site.css"> 

	<!-- sample fonts, please feel free to replace with your preferred ones -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Public+Sans:400,700&display=swap&subset=latin-ext"> 

	<!-- highlightjs is used for source code formatting inside <code> tags. feel free to remove it. -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</head>

<body>
<div class="container-fluid shadow header">
	<div class="container">
		<div class="row">

		<div class="col-2 col-md-2"></div>

		<div class="col-10 col-md-8 header-contents">
			<h1><a class="simplelink" href="index.html">@Model.Site.Title</a></h1>
			<h3>@Model.Site.Author</h3>
		</div>

		<div class="col-10 col-md-2"></div>

		</div>
	</div>
</div>


